<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\WebApi.Common\packages.config" />
  <repository path="..\src\WebApi.Data.SqlServer\packages.config" />
  <repository path="..\src\WebApi.Web.Api\packages.config" />
  <repository path="..\src\WebApi.Web.Common\packages.config" />
</repositories>